.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 600;
  font-style: normal;
}
.playfair-display-two {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 600;
  font-style: italic;
}
/* new */

.noto-serif-two {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.saira-two {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.josefin-sans-two {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 600;
  font-style: normal;
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 600;
  font-style: normal;
}
.caveat-two {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes growFromCenter {
  from {
    left: 50%;
    transform: translateX(-50%) scaleX(0);
  }
  to {
    left: 50%;
    transform: translateX(-50%) scaleX(1);
  }
}
.expand-from-center {
  animation: growFromCenter 2s ease-in-out forwards;
  width: 100vw;
}
.canvas-display{
    transform-origin: center;
}

@keyframes zoomOutToNormal {
  from {
    transform: scale(19);
    transform: translateZ(40);
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform: translateZ(0);
    opacity: 1;
  }
}

.show-zoom {
  animation: zoomOutToNormal 5s ease-out forwards;
}

@keyframes shrinkToCenter {
  from {
    top: 50%;
    transform: translateY(-50%) scaleY(1);
  }
  to {
    top: 50%;
    transform: translateY(-50%) scaleY(0);
  }
}
.shrink-to-center {
  animation: shrinkToCenter 2s ease-in-out forwards;
  height: 100vh;
}